@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
}
span {
  font-size: 20px;
}

#numerocartas {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  border-color: black;
}

#todaslascartas,
#todaslascartasordenadas > div {
  display: flex;
  justify-content: space-evenly;
}
.card {
  width: 125px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  padding: 16px 8px;
  margin: 100px;
}
.picaup {
  float: left;
  position: reative;
  padding-left: 10px;
  font-size: 35px;
}
.card-numero {
  position: relative;
  text-align: center;
  font-size: 35px;
}

.picadown {
  float: right;
  position: reative;
  padding-left: 70px;
  font-size: 35px;
}
